---
import skillsData from '../data/skills.json'
import workExperienceData from '../data/work.json'

import SkillsList from '../components/SkillsList.astro'
import WorkExperience from '../components/WorkExperience.astro'
import Layout from '../layouts/Layout.astro'
import FunderlineLink from '../components/FunderlineLink.astro'
import ContactForm from '../components/ContactForm.astro'
---

<Layout title='mikedloss.co'>
  <main class='m-auto max-w-screen-lg px-8'>
    <div class='h-16 mb-20' id='about'></div>
    <div class='w-full flex'>
      <div
        class='w-full md:w-1/2 animate-in fade-in slide-in-from-top-1 duration-1000'
      >
        <p class='text-2xl mb-20'>
          I'm a software developer working on building <span
            class='font-bold text-bermuda-gray-800'>product solutions</span
          > and
          <span class='font-bold text-bermuda-gray-800'>design systems</span> for
          startups and enterprise companies.
        </p>
      </div>
    </div>
    <div class='flex flex-col gap-4 mb-8'>
      <div class='flex flex-col'>
        <h3>
          <span class='font-semibold'>Languages</span> I've used in the past
        </h3>
        <SkillsList list={skillsData.languages} type='language' />
      </div>
      <div class='flex flex-col'>
        <h3><span class='font-semibold'>Tools</span> I've used in the past</h3>
        <SkillsList list={skillsData.tools} type='tool' />
      </div>
      <div class='flex flex-col'>
        <h3>
          <span class='font-semibold'>Services</span> I've used in the past
        </h3>
        <SkillsList list={skillsData.services} type='service' />
      </div>
    </div>
    <div class='flex flex-col'>
      <h2 class='text-2xl font-bold' id='work'>Work experience</h2>
      <div class='flex flex-col'>
        {
          workExperienceData.map(workExperience => (
            <WorkExperience {...workExperience} />
          ))
        }
      </div>
    </div>
    <hr class='border-b-2 my-20' />
    <div class='flex flex-col md:flex-row mb-8'>
      <div class='flex w-full md:w-1/2'>
        <h2 class='text-2xl font-bold' id='contact'>Let's work together.</h2>
      </div>
      <div class='flex w-full md:w-1/2'>
        <p>
          Fill out the form below with your info and what you're looking for, or
          send me an email at
          <FunderlineLink href='mailto:hey@mikedloss.co' classes='font-bold'>
            hey@mikedloss.co
          </FunderlineLink>
        </p>
      </div>
    </div>
    <ContactForm />
    <div class='h-20'></div>
  </main>
</Layout>
