---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coming soon">
	<main>
		<div class="h-screen flex flex-col justify-center items-center">
			<div>
				<a href="mailto:hey@mikedloss.co" class="mail-link">hey@mikedloss.co</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	.mail-link {
		@apply transition-colors;
		@apply hover:text-westar-900;
		@apply font-bold;
	}
</style>