---
const errors = {
  name: '',
  email: '',
  company: '',
  description: '',
}

if (Astro.request.method === 'POST') {
  console.log('here')
  try {
    const data = await Astro.request.formData()
    const name = data.get('name')
    const email = data.get('email')
    const company = data.get('company')
    const description = data.get('description')

    if (typeof name !== 'string' || !name.length) {
      errors.name += 'Name is needed'
    }
    if (typeof email !== 'string' || !email.length) {
      errors.email += 'Email is needed'
    }
    if (typeof company !== 'string' || !company.length) {
      errors.company += 'Company is needed'
    }
    if (typeof description !== 'string' || !description.length) {
      errors.description += 'Description is needed'
    }

    console.log('here', { data })

    const hasErrors = Object.values(errors).some(m => m)
    console.log('here2', { hasErrors, errors })
    if (!hasErrors) {
      console.log(
        'here3',
        JSON.stringify({ name, email, company, description }),
      )
      const response = await fetch('/api/contact/send', {
        method: 'POST',
        body: JSON.stringify({ name, email, company, description }),
      })
      const result = await response.json()
      console.log({ result })
    }

    console.log({ name, email, company, description })
  } catch (error) {
    if (error instanceof Error) {
      console.log(error.message)
    }
  }
}
---

<form method='POST' class='flex flex-col gap-4 border-2 rounded-md p-8'>
  <div class='flex flex-col md:flex-row gap-4'>
    <div class='w-full md:w-1/3 flex flex-col space-y-2'>
      <label for='name' class='text-sm leading-none'>Name</label>
      <input
        type='text'
        class='h-6 py-4 px-2 border-none rounded-md bg-westar-100'
        id='name'
        name='name'
        autocomplete='name'
      />
    </div>
    <div class='w-full md:w-1/3 flex flex-col space-y-2'>
      <label for='email' class='text-sm leading-none'>Email</label>
      <input
        type='email'
        class='h-6 py-4 px-2 border-none rounded-md bg-westar-100'
        id='email'
        name='email'
        autocomplete='email'
      />
    </div>
    <div class='w-full md:w-1/3 flex flex-col space-y-2'>
      <label for='company' class='text-sm leading-none'>Company</label>
      <input
        type='text'
        class='h-6 py-4 px-2 border-none rounded-md bg-westar-100'
        id='company'
        name='company'
      />
    </div>
  </div>
  <div class='flex flex-col space-y-2'>
    <label for='name' class='text-sm leading-none'
      >What do you need help with?</label
    >
    <textarea
      class='w-full p-2 border-none rounded-md bg-westar-100'
      name='description'></textarea>
  </div>
  <button
    type='submit'
    class='w-full h-10 border-2 rounded-md bg-westar-900 text-westar-100 transition-all hover:bg-westar-950'
    >Send</button
  >
</form>
